.navigation-bar{
    margin-top:10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgba(201, 76, 76, 0.007);
}
.collapse{
    padding-right: 10px;
}
#introduction{
    margin-top:10px;
    line-height:40px;
}
#intro-para{
    /*border-bottom: cadetblue 1px solid;*/
    border-top: cadetblue 1px solid;
    padding-bottom: 35px;
    padding-top:25px;
}
#logo{
    margin-bottom:-30px;
}

.why-we-do{
    line-height: 40px;
    padding:10px;
    /*border-bottom: 1px solid black;*/
    margin-bottom: 15px;
}

.how{
    font-size:2em;
    font-family: "Monoton",sans-serif;
}
.profile_pic{
    width:120px;
    border-radius:50%;
    border: 3px solid #c7efdb;
    margin-bottom: 30px;
}